<!DOCTYPE html>
<html>
<head>
    <title>Split PDF</title>
</head>
<body>
    <h1>Split PDF</h1>
    <form method="post" enctype="multipart/form-data" action="/split">
        <label>Choose PDF to split:</label><br>
        <input type="file" name="file" accept="application/pdf" required /><br><br>
        <label>Start Page:</label><br>
        <input type="number" name="start" min="1" value="1" required /><br><br>
        <label>End Page:</label><br>
        <input type="number" name="end" min="1" value="1" required /><br><br>
        <button type="submit">Split PDF</button>
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
